/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 janv. 2020, 15:25:53
    Author     : lucas
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
    color: #F2A25C;
    background-color: #262626;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px; 
    height: auto;
    width: 100%;
}
#buttons{
    display:flex;
    flex-direction: row;
    margin-left: 25px;
}
.btn{
    margin-right: 15px;
}
#download{
    margin-bottom: 20px;
    background-color: #000000ab;
    padding: 15px 15px 15px 15px;
    width: 40%;
    margin-left: 25%;
    border-radius: 2em;
    display: inline-flex;
    justify-content: center;
    
}
#title-download{
    width: 100%
}

.text-expand{
    animation-name: tracking-in-expand;
    animation-duration: 3s;
    font-size: 30px;
    margin-bottom: 2rem;
    margin-left: 20px;
}

#downloadFile{
    display: inline-flex;
    width: 90%;
    justify-content: center;
    padding-top: 60px;
}
#buttonDownload{
    margin-left: 20px;
}

#btn_dwn{
    text-align: center;
}

#supprimer, #reordo, #extraire{
    margin-left: 430px;
    margin-top: 40px;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}